
HW1/HW1/x64/Debug/vcpkg.applocal.log
HW1/HW1/x64/Debug/vc142.pdb
HW1/HW1/x64/Debug/vc142.idb
HW1/HW1/x64/Debug/scene_parser.obj
HW1/HW1/x64/Debug/scene1_07.txt
HW1/HW1/x64/Debug/matrix.obj
HW1/HW1/x64/Debug/main.obj
HW1/HW1/x64/Debug/image.obj
HW1/HW1/x64/Debug/HW1.vcxproj.FileListAbsolute.txt
HW1/HW1/x64/Debug/HW1.tlog/link.write.1.tlog
HW1/HW1/x64/Debug/HW1.tlog/link.read.1.tlog
HW1/HW1/x64/Debug/HW1.tlog/link.command.1.tlog
HW1/HW1/x64/Debug/HW1.tlog/HW1.lastbuildstate
HW1/HW1/x64/Debug/HW1.tlog/CL.write.1.tlog
HW1/HW1/x64/Debug/HW1.tlog/CL.read.1.tlog
HW1/HW1/x64/Debug/HW1.tlog/CL.command.1.tlog
HW1/HW1/x64/Debug/HW1.pdb
HW1/HW1/x64/Debug/HW1.log
HW1/HW1/x64/Debug/HW1.ilk
HW1/HW1/x64/Debug/HW1.exe.recipe
HW1/HW1/x64/Debug/HW1.exe
HW1/HW1/HW1.vcxproj.user
HW1/HW1/HW1.vcxproj.filters
HW1/HW1/HW1.vcxproj
HW1/HW1/HW1.sln
HW1/HW1/Debug/vcpkg.applocal.log
HW1/HW1/Debug/vc142.pdb
HW1/HW1/Debug/vc142.idb
HW1/HW1/Debug/scene_parser.obj
HW1/HW1/Debug/scene1_01.txt
HW1/HW1/Debug/matrix.obj
HW1/HW1/Debug/main.obj
HW1/HW1/Debug/image.obj
HW1/HW1/Debug/HW1.vcxproj.FileListAbsolute.txt
HW1/HW1/Debug/HW1.tlog/link.write.1.tlog
HW1/HW1/Debug/HW1.tlog/link.read.1.tlog
HW1/HW1/Debug/HW1.tlog/link.command.1.tlog
HW1/HW1/Debug/HW1.tlog/HW1.lastbuildstate
HW1/HW1/Debug/HW1.tlog/CL.write.1.tlog
HW1/HW1/Debug/HW1.tlog/CL.read.1.tlog
HW1/HW1/Debug/HW1.tlog/CL.command.1.tlog
HW1/HW1/Debug/HW1.pdb
HW1/HW1/Debug/HW1.log
HW1/HW1/Debug/HW1.ilk
HW1/HW1/Debug/HW1.exe.recipe
HW1/HW1/Debug/HW1.exe
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/fc780875fa9e53c2/ORTHOGRAPHICCAMERA.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/bddad9202c7735a3/SCENE_PARSER.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/b76b533d2a251972/GROUP.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/b25ff495b9f1db3b/OBJECT3D.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/9e0add09d00bc516/IMAGE.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/8b2c533cfb8e156/SPHERE.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/7c28748fe7bc24b0/CAMERA.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/7c2188621110717d/MAIN.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/68459d955174aaae/SCENE_PARSER.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/3b12080cea50fecc/MAIN.ipch
HW1/HW1/.vs/HW1/v16/ipch/AutoPCH/2627ab0dd54aee3e/SCENE_PARSER.ipch
HW1/HW1/.vs/HW1/v16/Browse.VC.db
HW1/HW1/.vs/HW1/v16/.suo
HW2/HW2/HW2.vcxproj.user
HW2/HW2/HW2.vcxproj.filters
HW2/HW2/HW2.vcxproj
HW2/HW2/HW2.sln
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/afa9a15f5179f628/SPHERE.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/80622d0164b044ce/PERSPECTIVECAMERA.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/73880a5e5dee32bd/MAIN.ipch
HW2/HW2/.vs/HW2/v16/Browse.VC.db
HW2/HW2/.vs/HW2/v16/.suo
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/43d96b16c743ee91/TRIANGLE.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/58f79fe7d07537a7/SCENE_PARSER.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/63c94ef19418c96c/IMAGE.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/6d6eb4624b2af6bc/ORTHOGRAPHICCAMERA.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/774d29b415fb87db/TANSFORM.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/a239699cbf752fa9/MATRIX.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/b8ffd8de030333ae/TANSFORM.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/df77400e87afc9c0/TRANSFORM.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/e46195f2d7f96da8/MAIN.ipch
HW2/HW2/.vs/HW2/v16/ipch/AutoPCH/f79b61506e271fa5/PLANE.ipch
HW2/HW2/x64/Debug/bunny_1k.txt
HW2/HW2/x64/Debug/bunny_200.txt
HW2/HW2/x64/Debug/cube.txt
HW2/HW2/x64/Debug/HW2.Build.CppClean.log
HW2/HW2/x64/Debug/HW2.exe
HW2/HW2/x64/Debug/HW2.exe.recipe
HW2/HW2/x64/Debug/HW2.ilk
HW2/HW2/x64/Debug/HW2.log
HW2/HW2/x64/Debug/HW2.pdb
HW2/HW2/x64/Debug/HW2.tlog/CL.command.1.tlog
HW2/HW2/x64/Debug/HW2.tlog/CL.read.1.tlog
HW2/HW2/x64/Debug/HW2.tlog/CL.write.1.tlog
HW2/HW2/x64/Debug/HW2.tlog/HW2.lastbuildstate
HW2/HW2/x64/Debug/HW2.tlog/link.command.1.tlog
HW2/HW2/x64/Debug/HW2.tlog/link.read.1.tlog
HW2/HW2/x64/Debug/HW2.tlog/link.write.1.tlog
HW2/HW2/x64/Debug/HW2.vcxproj.FileListAbsolute.txt
HW2/HW2/x64/Debug/image.obj
HW2/HW2/x64/Debug/main.obj
HW2/HW2/x64/Debug/matrix.obj
HW2/HW2/x64/Debug/scene_parser.obj
HW2/HW2/x64/Debug/vc142.idb
HW2/HW2/x64/Debug/vc142.pdb
HW2/HW2/x64/Debug/vcpkg.applocal.log
HW3/HW3/.vs/HW3/project-colors.json
HW3/HW3/.vs/HW3/v17/.suo
HW3/HW3/.vs/HW3/v17/Browse.VC.db
HW3/HW3/.vs/HW3/v17/Browse.VC.db-shm
HW3/HW3/.vs/HW3/v17/Browse.VC.db-wal
HW3/HW3/.vs/HW3/v17/Browse.VC.opendb
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/17a6a170ca31549d/TRIANGLE.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/4ac03e68855d4b24/PLANE.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/4bc1042080859d89/PHONGMATERIAL.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/4f9b5f67c9188198/GLCANVAS.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/51bb09041680b13d/SCENE_PARSER.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/5cf3dc9d1aca6305/SCENE_PARSER.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/5f3bc44417bab618/GLCANVAS.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/99db4052dc21e4be/MAIN.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/c6d6887ca1c04ebe/OBJECT3D.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/c7a3df89a97d93ae/IMAGE.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/f0fa854e737c41b2/MATRIX.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/f28b235f8fcf54a7/PERSPECTIVECAMERA.ipch
HW3/HW3/HW3.sln
HW3/HW3/HW3/HW3.vcxproj
HW3/HW3/HW3/HW3.vcxproj.filters
HW3/HW3/HW3/HW3.vcxproj.user
HW3/HW3/HW3/x64/Debug/glCanvas.obj
HW3/HW3/HW3/x64/Debug/HW3.Build.CppClean.log
HW3/HW3/HW3/x64/Debug/HW3.log
HW3/HW3/HW3/x64/Debug/HW3.tlog/CL.command.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/CL.read.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/CL.write.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/HW3.lastbuildstate
HW3/HW3/HW3/x64/Debug/HW3.tlog/link.command.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/link.read.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/link.read.3.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/link.write.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/unsuccessfulbuild
HW3/HW3/HW3/x64/Debug/HW3.vcxproj.FileListAbsolute.txt
HW3/HW3/HW3/x64/Debug/image.obj
HW3/HW3/HW3/x64/Debug/main.obj
HW3/HW3/HW3/x64/Debug/matrix.obj
HW3/HW3/HW3/x64/Debug/scene_parser.obj
HW3/HW3/HW3/x64/Debug/vc143.idb
HW3/HW3/HW3/x64/Debug/vc143.pdb
HW3/HW3/x64/Debug/HW3.pdb
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/44da8347f5eee155/IMAGE.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/c6918600be603a1b/MAIN.ipch
HW3/HW3/.vs/HW3/v17/ipch/AutoPCH/f85aee067745727c/SCENE_PARSER.ipch
HW3/HW3/Debug/HW3.exe
HW3/HW3/Debug/HW3.pdb
HW3/HW3/HW3/Debug/glCanvas.obj
HW3/HW3/HW3/Debug/HW3.Build.CppClean.log
HW3/HW3/HW3/Debug/HW3.exe.recipe
HW3/HW3/HW3/Debug/HW3.ilk
HW3/HW3/HW3/Debug/HW3.log
HW3/HW3/HW3/Debug/HW3.tlog/CL.command.1.tlog
HW3/HW3/HW3/Debug/HW3.tlog/CL.read.1.tlog
HW3/HW3/HW3/Debug/HW3.tlog/CL.write.1.tlog
HW3/HW3/HW3/Debug/HW3.tlog/HW3.lastbuildstate
HW3/HW3/HW3/Debug/HW3.tlog/link.command.1.tlog
HW3/HW3/HW3/Debug/HW3.tlog/link.read.1.tlog
HW3/HW3/HW3/Debug/HW3.tlog/link.write.1.tlog
HW3/HW3/HW3/Debug/HW3.vcxproj.FileListAbsolute.txt
HW3/HW3/HW3/Debug/image.obj
HW3/HW3/HW3/Debug/main.obj
HW3/HW3/HW3/Debug/matrix.obj
HW3/HW3/HW3/Debug/scene_parser.obj
HW3/HW3/HW3/Debug/vc143.idb
HW3/HW3/HW3/Debug/vc143.pdb
HW3/HW3/HW3/x64/Debug/HW3.tlog/link-cvtres.read.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/link-cvtres.write.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/link-rc.read.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/link-rc.write.1.tlog
HW3/HW3/HW3/x64/Debug/HW3.tlog/link.read.2.tlog
HW4/HW4/.vs/HW4/v17/.suo
HW4/HW4/.vs/HW4/v17/Browse.VC.db
HW4/HW4/.vs/HW4/v17/Browse.VC.db-shm
HW4/HW4/.vs/HW4/v17/Browse.VC.db-wal
HW4/HW4/.vs/HW4/v17/Browse.VC.opendb
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/260597bd47f8aca0/GROUP.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/59ce1666afea38ab/GLCANVAS.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/a62c766e9cf9c71/MAIN.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/b7d270889f2b360/ORTHOGRAPHICCAMERA.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/ce0acd0f7764f844/MAIN.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/d234602b6bab0fdc/SPHERE.ipch
HW4/HW4/Debug/glCanvas.obj
HW4/HW4/Debug/HW4.exe
HW4/HW4/Debug/HW4.exe.recipe
HW4/HW4/Debug/HW4.ilk
HW4/HW4/Debug/HW4.log
HW4/HW4/Debug/HW4.pdb
HW4/HW4/Debug/HW4.tlog/CL.command.1.tlog
HW4/HW4/Debug/HW4.tlog/CL.read.1.tlog
HW4/HW4/Debug/HW4.tlog/CL.write.1.tlog
HW4/HW4/Debug/HW4.tlog/HW4.lastbuildstate
HW4/HW4/Debug/HW4.tlog/link.command.1.tlog
HW4/HW4/Debug/HW4.tlog/link.read.1.tlog
HW4/HW4/Debug/HW4.tlog/link.write.1.tlog
HW4/HW4/Debug/HW4.vcxproj.FileListAbsolute.txt
HW4/HW4/Debug/image.obj
HW4/HW4/Debug/main.obj
HW4/HW4/Debug/matrix.obj
HW4/HW4/Debug/scene_parser.obj
HW4/HW4/Debug/vc143.idb
HW4/HW4/Debug/vc143.pdb
HW4/HW4/HW4.sln
HW4/HW4/HW4.vcxproj
HW4/HW4/HW4.vcxproj.filters
HW4/HW4/HW4.vcxproj.user
HW4/HW4/x64/Debug/glCanvas.obj
HW4/HW4/x64/Debug/HW4.Build.CppClean.log
HW4/HW4/x64/Debug/HW4.log
HW4/HW4/x64/Debug/HW4.pdb
HW4/HW4/x64/Debug/HW4.tlog/CL.command.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/CL.read.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/CL.write.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/HW4.lastbuildstate
HW4/HW4/x64/Debug/HW4.tlog/link-cvtres.read.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/link-cvtres.write.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/link-rc.read.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/link-rc.write.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/link.command.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/link.read.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/link.read.2.tlog
HW4/HW4/x64/Debug/HW4.tlog/link.write.1.tlog
HW4/HW4/x64/Debug/HW4.tlog/unsuccessfulbuild
HW4/HW4/x64/Debug/HW4.vcxproj.FileListAbsolute.txt
HW4/HW4/x64/Debug/image.obj
HW4/HW4/x64/Debug/main.obj
HW4/HW4/x64/Debug/matrix.obj
HW4/HW4/x64/Debug/scene_parser.obj
HW4/HW4/x64/Debug/vc143.idb
HW4/HW4/x64/Debug/vc143.pdb
HW4/HW4/.vs/HW4/v16/.suo
HW0/.vs/HW0/v17/.suo
HW0/.vs/HW0/v17/Browse.VC.db
HW0/.vs/HW0/v17/ipch/AutoPCH/654b0e619098a848/IFS.ipch
HW0/.vs/HW0/v17/ipch/AutoPCH/b93cfd72b78fc843/MAIN.ipch
HW0/.vs/ProjectSettings.json
HW0/.vs/slnx.sqlite
HW0/.vs/VSWorkspaceState.json
HW1/src/.vs/ProjectSettings.json
HW1/src/.vs/slnx.sqlite
HW1/src/.vs/src/v17/.suo
HW1/src/.vs/src/v17/Browse.VC.db
HW1/src/.vs/src/v17/ipch/AutoPCH/2cc9f5617d7de94c/ORTHOGRAPHICCAMERA.ipch
HW1/src/.vs/src/v17/ipch/AutoPCH/38ff8ff8a4fb70d1/OBJECT3D.ipch
HW1/src/.vs/src/v17/ipch/AutoPCH/584d1afdd24af2f8/SPHERE.ipch
HW1/src/.vs/src/v17/ipch/AutoPCH/fb69d92a57c4fcac/GROUP.ipch
HW1/src/.vs/VSWorkspaceState.json
HW2/src/.vs/ProjectSettings.json
HW2/src/.vs/slnx.sqlite
HW2/src/.vs/src/v17/.suo
HW2/src/.vs/src/v17/Browse.VC.db
HW2/src/.vs/src/v17/ipch/AutoPCH/1bdc561488ee79eb/TRIANGLE.ipch
HW2/src/.vs/src/v17/ipch/AutoPCH/32e1607d7e88dd08/CAMERA.ipch
HW2/src/.vs/src/v17/ipch/AutoPCH/46b543cadba8b795/TRANSFORM.ipch
HW2/src/.vs/src/v17/ipch/AutoPCH/cdf8ff9fbf9d429b/PLANE.ipch
HW2/src/.vs/src/v17/ipch/AutoPCH/d58d170091fd9878/PERSPECTIVECAMERA.ipch
HW2/src/.vs/VSWorkspaceState.json
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/10b74b8868435ecf/IMAGE.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/374cebf01a48cddd/MATRIX.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/3e0de1bc5beebaea/SCENE_PARSER.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/4223bb8c3373baa2/RAYTREE.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/43ded068a30995e2/LIGHT.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/5af635a567aa0cd6/RAYTRACER.ipch
HW4/HW4/.vs/HW4/v17/ipch/AutoPCH/c1425175d354f3c6/CAMERA.ipch
HW4/HW4/Debug/HW4.Build.CppClean.log
HW4/HW4/Debug/light.obj
HW4/HW4/Debug/output4_01.tga
HW4/HW4/Debug/rayTree.obj
HW4/HW4/Debug/scene4_01_sphere_shadow.txt
HW4/HW4/Debug/scene4_02_colored_shadows.txt
HW4/HW4/Debug/scene4_03_mirrored_floor.txt
HW4/HW4/Debug/scene4_04_reflective_sphere.txt
HW4/HW4/Debug/scene4_05_transparent_bar.txt
HW4/HW4/Debug/scene4_06_transparent_bars.txt
HW4/HW4/Debug/scene4_07_transparent_sphere_1.0.txt
HW4/HW4/Debug/scene4_08_transparent_sphere_1.1.txt
HW4/HW4/Debug/scene4_09_transparent_sphere_2.0.txt
HW4/HW4/Debug/scene4_10_point_light_distance.txt
HW4/HW4/Debug/scene4_11_point_light_circle.txt
HW4/HW4/Debug/scene4_12_point_light_circle_d_attenuation.txt
HW4/HW4/Debug/scene4_13_point_light_circle_d2_attenuation.txt
HW4/HW4/Debug/scene4_14_faceted_gem.txt
HW8/.vs/HW8/v17/.suo
HW8/.vs/HW8/v17/Browse.VC.db
HW8/HW8.sln
HW8/HW8.vcxproj
HW8/HW8.vcxproj.filters
HW8/HW8.vcxproj.user
HW9/.vs/HW9/v17/.suo
HW9/.vs/HW9/v17/Browse.VC.db
HW9/.vs/HW9/v17/Browse.VC.db-shm
HW9/.vs/HW9/v17/Browse.VC.db-wal
HW9/.vs/HW9/v17/Browse.VC.opendb
HW9/.vs/HW9/v17/ipch/AutoPCH/2e3771f6efc53430/MATRIX.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/3239b84f8aeb2571/GENERATOR.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/396cc4a45dcc6058/INTEGRATOR.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/412d981e9041f7c7/PARTICLE.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/42a7467bed32abf4/SYSTEM.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/5861325856f0ecf4/MAIN.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/6b9eefc1d63bfaa0/GENERATOR.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/739d833d6eb30e66/GLCANVAS.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/8cf5f33695327f91/FORCEFIELD.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/b383afb0c48a187c/FORCEFIELD.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/e37e65e6a3135a2d/FORCEFIELD.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/ea24b852d15d7159/INTEGRATOR.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/f524337aa9fba236/PARSER.ipch
HW9/Debug/forcefield.obj
HW9/Debug/generator.obj
HW9/Debug/glCanvas.obj
HW9/Debug/HW9.log
HW9/Debug/HW9.pdb
HW9/Debug/HW9.tlog/CL.command.1.tlog
HW9/Debug/HW9.tlog/CL.read.1.tlog
HW9/Debug/HW9.tlog/CL.write.1.tlog
HW9/Debug/HW9.tlog/HW9.lastbuildstate
HW9/Debug/HW9.tlog/link-cvtres.read.1.tlog
HW9/Debug/HW9.tlog/link-cvtres.write.1.tlog
HW9/Debug/HW9.tlog/link-rc.read.1.tlog
HW9/Debug/HW9.tlog/link-rc.write.1.tlog
HW9/Debug/HW9.tlog/link.command.1.tlog
HW9/Debug/HW9.tlog/link.read.1.tlog
HW9/Debug/HW9.tlog/link.write.1.tlog
HW9/Debug/HW9.tlog/unsuccessfulbuild
HW9/Debug/integrator.obj
HW9/Debug/main.obj
HW9/Debug/matrix.obj
HW9/Debug/parser.obj
HW9/Debug/particle.obj
HW9/Debug/system.obj
HW9/Debug/vc143.idb
HW9/Debug/vc143.pdb
HW9/HW9.sln
HW9/HW9.vcxproj
HW9/HW9.vcxproj.filters
HW9/HW9.vcxproj.user
HW9/x64/Debug/forcefield.obj
HW9/x64/Debug/generator.obj
HW9/x64/Debug/glCanvas.obj
HW9/x64/Debug/HW9.Build.CppClean.log
HW9/x64/Debug/HW9.log
HW9/x64/Debug/HW9.pdb
HW9/x64/Debug/HW9.tlog/CL.command.1.tlog
HW9/x64/Debug/HW9.tlog/CL.read.1.tlog
HW9/x64/Debug/HW9.tlog/CL.write.1.tlog
HW9/x64/Debug/HW9.tlog/HW9.lastbuildstate
HW9/x64/Debug/HW9.tlog/link-cvtres.read.1.tlog
HW9/x64/Debug/HW9.tlog/link-cvtres.write.1.tlog
HW9/x64/Debug/HW9.tlog/link-rc.read.1.tlog
HW9/x64/Debug/HW9.tlog/link-rc.write.1.tlog
HW9/x64/Debug/HW9.tlog/link.command.1.tlog
HW9/x64/Debug/HW9.tlog/link.read.1.tlog
HW9/x64/Debug/HW9.tlog/link.read.2.tlog
HW9/x64/Debug/HW9.tlog/link.write.1.tlog
HW9/x64/Debug/HW9.tlog/unsuccessfulbuild
HW9/x64/Debug/HW9.vcxproj.FileListAbsolute.txt
HW9/x64/Debug/integrator.obj
HW9/x64/Debug/main.obj
HW9/x64/Debug/matrix.obj
HW9/x64/Debug/parser.obj
HW9/x64/Debug/particle.obj
HW9/x64/Debug/system.obj
HW9/x64/Debug/vc143.idb
HW9/x64/Debug/vc143.pdb
HW9/.vs/HW9/v17/ipch/AutoPCH/4a08541d748de837/GENERATOR.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/5054b0332d0cbc33/PARSER.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/d62bddd080a02b81/MAIN.ipch
HW9/.vs/HW9/v17/ipch/AutoPCH/fc6946ab9ba912d1/SYSTEM.ipch
HW8/.vs/HW8/v17/ipch/AutoPCH/2b1537ba3d6719ec/SURFACE.ipch
HW5/HW5/.vs/HW5/v17/.suo
HW5/HW5/.vs/HW5/v17/Browse.VC.db
HW5/HW5/HW5.sln
HW5/HW5/HW5.vcxproj
HW5/HW5/HW5.vcxproj.filters
HW5/HW5/HW5.vcxproj.user
HW8/.vs/HW8/v17/ipch/AutoPCH/4acfe78373c03e08/CURVE.ipch
HW8/.vs/HW8/v17/ipch/AutoPCH/7f8953b82b82b471/MAIN.ipch
HW8/.vs/HW8/v17/ipch/AutoPCH/ad962a190a9ec9d8/SPLINE.ipch
HW8/.vs/HW8/v17/ipch/AutoPCH/be27a0aafaa993e1/SPLINE.ipch
HW8/.vs/HW8/v17/ipch/AutoPCH/e2d18f2e18d06677/SPLINE_PARSER.ipch
HW8/.vs/HW8/v17/ipch/AutoPCH/e517f59b9e3fa5dd/MATRIX.ipch
